- name: Install Java (needed for Jenkins)
  apt:
    name: openjdk-17-jre
    state: present
    update_cache: yes

- name: Add Jenkins repo key
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /usr/share/keyrings/jenkins-keyring.asc
    mode: "0644"

- name: Add Jenkins apt repository
  copy:
    dest: /etc/apt/sources.list.d/jenkins.list
    content: |
      deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/
    mode: "0644"

- name: Install Jenkins
  apt:
    name: jenkins
    state: present
    update_cache: yes
  notify: restart jenkins

- name: Ensure Jenkins service is running
  service:
    name: jenkins
    state: started
    enabled: true
