apiVersion: v1
kind: Secret
metadata:
  name: todo-secret
  namespace: {{ k8s_namespace }}
type: Opaque
data:
  POSTGRES_USER: "{{ vault_postgres_user | b64encode }}"
  POSTGRES_PASSWORD: "{{ vault_postgres_password | b64encode }}"
